.env
node_modules
backend/node_modules
frontend/node_modules
frontend/.next
frontend/.env.local
/build
target
contracts/*/test_snapshots/
sdk/bindings/*/node_modules/
sdk/bindings/*/dist/
sdk/dist/
backend/dist/